.basics {

  .header {
    background-color: $mixcloud-white;
  }

  .summary {
    background-color: $mixcloud-blue;
    color: $mixcloud-white;
    font-size: $font-size-medium;
    padding: $space-2;
  }

  .main {
    vertical-align: middle;

    .name {
      font-family: "Sine Sans Medium", sans-serif;
      font-size: $header-name-font-size;
      line-height: 1em;
      font-weight: bold;
      display: block;
      margin-left: -$header-name-font-size*0.07;
      color: $mixcloud-darkblue;
    }

    .label {
      font-size: $header-line-font-size;
      line-height: 1em;
      font-weight: lighter;
      color: $mixcloud-peach;
      display: block;
      margin-left: -$header-line-font-size*0.04;
    }
  }

  .side {
    vertical-align: middle;
    padding-left: 0;
    padding-top: 15px;

    .contact {
      list-style-type: none;

      li {
        font-size: $font-size-xsmall;
        line-height: $line-height-3;
      }
    }
  }
}