@use "sass:math";

.main {

  .highlights {
    width: auto;
    display: block;
    padding: 0 $space-1;
    margin-bottom: 0;
    columns: 2;
    column-width: ($content-width * math.div($content-main-percentage, 100%) - 3 * $space-1 - $space-4) * 0.5;
    column-gap: $space-1;

    li {
      font-size: $font-size-xsmall;
      list-style: none;

      p {
        display: contents;
      }

      &:before {
        content: "· ";
        vertical-align: middle;
      }
    }
  }

  .skills-honed {
    text-transform: uppercase;
    color: $mixcloud-teal;
    font-size: $font-size-xsmall;
    margin-top: $space-2;
    margin-bottom: calc($space-1 / 2);
  }

  .hash {
    font-style: normal;
    opacity: 0.8;
    font-weight: 700;
    font-size: $font-size-xsmall;
  }

  .skill-pill {
    border: 1px solid #ebf0f2;
    border-radius: 2px;
    color: #49596a;
    display: inline-block;
    // font-weight: 700;
    font-size: $font-size-small;
    line-height: 20px;
    padding: 2px 6px;
    margin-bottom: 5px;
    margin-right: 5px;
    text-transform: lowercase;
   
  }
  

  .left {
    display: table-cell;

    .title {
      font-size: $font-size-large;
      color: $mixcloud-teal;
      font-weight: bold;
      display: block;
    }

    .subtitle {
      font-size: $font-size-xsmall;
      font-weight: lighter;
      display: block;
    }
  }

  .right {
    text-align: right;
    display: table-cell;

    .date {
      font-size: $font-size-small;
      font-weight: lighter;
      white-space: nowrap;
    }
  }
}
